.button {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.button:disabled {
  cursor: not-allowed;
}

.button.primary {
  color: var(--color-black);
  background: var(--color-primary-2);
}

.button.primary:disabled {
  background: var(--color-var-3);
}

.button.primary:hover:not(:disabled) {
  background: var(--color-var-1);
}