:root {
  --color-primary-1: #495E57;
  --color-primary-2: #F4CE14;
  --color-secondary-1: #EE9972;
  --color-secondary-2: #FBDABB;
  --color-highlight-1: #EDEFEE;
  --color-highlight-2: #333333;
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-var-1: #c3a510;

  --content-width: 900px;
}

main {
  width: 100%;
}

h1, h2 {
  margin: 0;
  font-family: "Markazi Text", serif;
  font-weight: 500;
}

html, p, span, li, div, body {
  font-family: "Karla", sans-serif;
}